page-logastop {

.text-input {
    min-height: 200px;
}
.content{
	background: #edeff3;
}
.item{
	    border-radius: 5px;
	    margin-top: 10px;
}
.item.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #ffffff;
}

}
