page-transferowner {

.card-header {
    padding: 10px;
    margin-bottom: -25px !important;
}

.card-content {
    padding: 10px 16px 30px;
    font-size: 1.4rem;
    line-height: 1.5;
    min-height: 13rem;
}

.label-icon {
    text-align: right;
    float: right;
  }
textarea.text-input {
    min-height: 200px !important;
}
.content{
	background: #edeff3;
}
.item{
	    border-radius: 5px;
	    margin-top: 10px;
}

}
