.page-transfer-detail {

.card-header {
    padding: 10px;
    margin-bottom: -25px !important;
}

.card-content {
    padding: 10px 16px 30px;
    font-size: 1.4rem;
    line-height: 1.5;
    min-height: 13rem;
}

.label-icon {
    text-align: right;
    float: right;
  }
.item.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #ffffff;
}
}
